body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
button {
  width: 100px;
  height: 40px;
  margin: 8px;
  background: rgba($color: #000000, $alpha: 0.5);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
}
h2 {
  color: white;
}
.container {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contents {
  width: 54%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: conic-gradient(
    rgba(82, 1, 32, 0.6) 0%,
    rgba(150, 43, 9, 0.6) 20%,
    rgba(181, 113, 20, 0.6) 40%,
    rgba(8, 64, 62, 0.6) 60%,
    rgba(112, 101, 19, 0.6) 80%,
    rgba(82, 1, 32, 0.6) 100%
  );
}
.mem {
  flex-direction: column;
}
.meminfo1 {
  flex-wrap: wrap;
}
.meminfo2 {
  color: white;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img {
  width: 130px;
  height: 130px;
  background-image: url("../../img/mypageimg/person-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
}
.nameAndBtn {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
.nameAndBtn p {
  color: white;
}
.nameAndBtn span {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 25px;
}
.alinfo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.alinfo1 {
  margin-left: 50px;
}
.alimg {
  width: 120px;
  height: 120px;
  background-image: url("../../img/mypageimg/al1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.alinfo2 {
  margin-right: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alinfo3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviewbox {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.reviewbox textarea {
  margin: 0;
  height: 90%;
  background: none;
  border: none;
}
.more {
  background: none;
  border: none;
  margin: 0 0 0 auto;
}
.nameAndBtn {
  // display: flex;
}

.btn {
  display: flex;
}
.seereview {
  display: none;
  background: none;
  border: none;
  color: white;
}
@media screen and (max-width: 1140px) {
  .profile {
    flex-flow: column;
    transition: 0.5s;
  }
  .person {
    flex-flow: column;
    transition: 0.5s;
  }
  .meminfo2 {
    text-align: center;
    transition: 0.5s;
  }
}
@media screen and (max-width: 768px) {
  .contents {
    width: 400px;
    transition: 0.5s;
  }
  .reviewbox {
    display: none;
    transition: 0.5s;
  }
  .seereview {
    display: block;
    transition: 0.5s;
  }
  .meminfo2 {
    text-align: center;
    transition: 0.5s;
  }
  button {
    font-size: 16px;
    width: 80px;
    height: 32px;
    transition: 0.5s;
  }
  h2 {
    font-size: 16px;
    transition: 0.5s;
  }
}
